// 🎨 Colores base
$color-primary-bg: #0d3b66;
$color-primary-text: #ffffff;

$color-secondary-bg: #2c587f;
$color-accent: #79a6d2;

$color-expected-bg: #9cd82f;
$color-your-bg: #e61e8c;

// 🎨 Colores adicionales
$color-dark-text: #0d3b66;

// 📏 Tamaños
$font-size-title: 4rem;
$font-size-subtitle: 2rem;
$font-size-text: 1.5rem;
$font-size-large: 3rem;
$font-size-xlarge: 8rem;

// 📐 Espaciados
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xlg: 6rem;

// 🎨 Extras
$borderData-radius: 0.8rem 0.8rem 0 0;
$borderExpected-radius: 0 0 0 0.8rem;
$borderYour-radius: 0 0 0.8rem 0;
$border-radius: 0.8rem;
